<!DOCTYPE html>
<html lang="no">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Kompiler</title>
		<link rel="icon" type="image/png" href="http://localhost/thunemedia.no/wp-content/themes/Thunemedia-theme-3/favicon.png">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="container">
			<img src="/images/kompiler.png" alt="Kompiler" class="block center" />
			<h1 class="text-center blue-text">Kompiler</h1>

			<form action="/mail" type="POST" class="block eight columns center clear-right join-form">
				<div>
					<label for="name">Your name</label>
					<input type="text" name="name" placeholder="John Doe" />
				</div>
				<div>
					<label for="name">Your email</label>
					<input type="text" name="email" placeholder="john@doe.com" />
				</div>
				<div>
					<button class="btn btn-large">Submit</button>
				</div>
			</form>
		</div>
	</body>
</html>
